<%= render "partials/top_bar" %>

<h1>You are about to purchase the following card</h1>

<div>
    <%= image_tag @card_image %>
    <%= number_to_currency(@listing_price / 100.0) %>
</div>

<form>

</form>
Confirm button
