<%= render "top_bar" %>

<% listing = @cards.find(@listing.card_id) %>

<h1><%= listing.name %></h1>

<% img = listing.image %>
<%= image_tag img if img.attached? %>

<% for listing in @listings.where(card_id: @listing.card_id) %>
    <ul>
        <li><%= "Seller: #{@users.find(listing.user_id).email}, Condition: #{listing.condition}, Price: #{number_to_currency(listing.price / 100.0)}" %></li>
    </ul>
<% end %>