<div id="home">
    <%= render "partials/top_bar" %>

    <h1>MTG-marketplace</h1>
    <div class="flex-container">
        <div class="flex-centered">
            <%= image_tag "peer-to-peer", class: "img-margin" %> 
            <p>Peer-to-peer</p>
        </div>
        <div class="flex-centered">
            <%= image_tag "peer-to-peer", class: "img-margin" %> 
            <p>Easy to buy and sell</p>
        </div>
        <div class="flex-centered">
            <%= image_tag "peer-to-peer", class: "img-margin" %> 
            <p>Secure</p>
        </div>
    </div>
</div>