#sessions-new {
    #user_email, #user_password {
        background-color: #EEE;
        border: 1px solid #D5D5D5;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
    }

    label {
        display: inline-block;
        font-family: Rubik, sans-serif;
        margin-right: 30px;
        text-align: left;
        width: 150px;
        margin-bottom: 20px;
    }

    a {
        margin-bottom: 20px;
    }


}