#top_bar {
    display: flex;
    justify-content: space-between;
    
    a { 
        color: black;
        margin-left: 10px;
        text-decoration: none;
    }
    
    a:hover {
        color: #fff200;
    }

    .links {
        // height: 50px;
        // width: 250px;
    }

}