@import url('https://fonts.googleapis.com/css?family=Poppins|Rubik&display=swap');

h1 {
    font-family: Poppins, sans-serif;
    text-align: center;
}

h2, h3 {
   font-family: Poppins, sans-serif;
}

label, li, p, a , th, td, input{
    font-family: Rubik, sans-serif;
}